
nav{
    background-color: rgba(47, 156, 63, 0.942);
    padding: 5px 0;
    display: flex;
}

nav img{
    margin: 5px;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 30px;
    padding: 10px;
    background-color: rgb(9, 87, 87);
    border-radius: 15px;
    font-size: 20px;
    font-family: Helvetica;
}

nav a{

    color: rgb(255, 255, 255);
    text-decoration: none;
}

nav ul li:hover {
    background-color: rgb(6, 63, 63);
}

nav a:hover{
    color: rgb(16, 119, 81);
    text-decoration: none;
}

footer{
    font-family: Helvetica;
    background-color: rgba(12, 88, 9, 0.927);
    color: rgb(241, 255, 240);
    text-align: center;
    margin: 0;
}